.layout-container{
    .arco-layout{
        overflow: hidden;
        background-color: @base-content-bg-color;
    }
    .layout-header{
        position: fixed;
        width: 100%;
        padding: 15px 20px;
        background-color: var(--color-bg-2);
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 999;
        border-bottom: 1px solid var(--color-border);
        &-right{
            flex: 1;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            .layout-header-edit{
                margin-right: 20px;
                .arco-input-inner-wrapper{
                    border-radius: 30px;
                }
            }
        }
    }
    .layout-main-wrap{
        position: relative;
        top: 70px;
        overflow-y: auto;
        .layout-content{
            height: calc(100vh - 70px);
            background-color: var(--color-bg-1);
        }
        .layout-content-breadcrumb{
            padding: @layout-main-padding;
            background-color: var(--color-fill-2);
        }
        .arco-layout-sider{
            height: calc(100vh - 70px);
        }
        .layout-main-content{
           min-height: calc(100vh - 70px - 56px - 56px);
        }
        .arco-layout-sider-trigger{
            width: 30px!important;
            line-height: 30px;
            height: 30px;
            float: right;
            margin: 0 10px;
            color: var(--color-text-3);
            background: var(--color-neutral-1);
        }
    }
    .layout-footer{
        min-height: 55px;
        line-height: 55px;
        text-align: center;
        color: var(--color-text-2);
        background-color: var(--color-fill-2);
        // border-top: 1px dashed var(--color-border);
        // margin-top: 20px;
        // background: var(--color-white)
    }
}